// main color
$background-color: #E8EBED;
$header-color: #FAFBFC;
$block-color: #FFFFFF;

// elements color
$sidebar-head: #3f6ad8;
$nav-menu-link: #343a40;
$nav-menu-background: #e0f3ff;
$nav-menu-vertical-line: #3f6ad8;
$nav-submenu-link: #6c757d;

// media size
$sidebar-width: 280px;
$sidebar-small-width: 80px;
